body {
  margin: 0;
  background: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/description_box.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#description_box {
  font-family: 'Open Sans', sans-serif;
  background: rgba(0,0,0,0.3);
  color: white;
  width: 33%;
  margin: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  float: left;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: lighter;
}
h1 {
  font-size: 2.rem;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: .6s background;
}

@media only screen and (max-width: 768px) {
  #description_box {
    width:70%;
    float: none;
    margin: 1rem auto;
    padding: 0.5rem
  }
  h1{
    text-align: center;
  }
}
